
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC PROJE KAMPI-KATEGORİ</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Sinema</td>
        <td>Açıklama bekleniyor</td>
        <td>True</td>
    </tr>

</table>
<button class="btn btn-info">Yeni Kategori Ekle</button>
<button class="btn btn-warning">Yeni Kategori Sil</button>
<button class="btn btn-danger">Yeni Kategori Ekle</button>


